<div class="container">
  <div class="row">注文情報入力</div>
  <% form_with model: @order,url: orders_new_path do |f| %>
  <div class="row">
    支払い方法
    <div class="col">

    </div>
  </div>
  <% end %>
</div>